@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply bg-slate-400 text-white rounded-sm;
}

.text_italic {
  font-style: italic;
}

.text_underline {
  text-decoration: underline;
}

.text_bold {
  font-weight: bold;
}

.link {
  color: rgb(33, 111, 219);
  text-decoration: none;
}

* {
  box-sizing: border-box !important;
}