.blockquote-container {
    min-width: 340px;
    max-width: 90%;
    margin: 30px;
    padding: 1em;
    background-color: lightgray;
}

.blockquote-container_left {
    width: 45%;
    float: left;
}

.blockquote-container_right {
    width: 45%;
    float: right;
}

.blockquote-container_center {
    float: none;
    width: 100%;
}

.blockquote-title {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

    &::before {
        content: open-quote;
        font-size: 120%;
        position: absolute;
        width: 0.5em;
        text-align: right;
        margin-left: -0.55em;
        margin-top: -0.1em;
    }

    &::after {
        content: close-quote;
        font-size: 120%;
        position: absolute;
        margin-left: 0;
        margin-top: -0.1em;
    }
}